.section1{
    display: flex;
    border:1px solid black;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    column-gap: 50px;
    padding: 20px 250px 100px 250px;
}

.topleft {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.topright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
}

.links, .subtext {
    font-size: 20px;
    color: #e5e7eb;
}

.logo {
    margin-bottom: auto;
    font-size: 24px;
    color:#F9FAF8
}

.title1 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8
}

ul {
    margin-bottom: auto;
    display: flex;
    justify-content:space-between;
    column-gap: 40px;
}

li {
    list-style-type: none;
}

.image1 {
    width: auto;
    height: 400px;
}

.button1 {
    width: 200px;
    height: 50px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 50px 0px 100px 0px;
}

.middle {
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.title2 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 100px;
}

.icons{
    height: auto;
    width: 300px;
}

.subtext2 {
    font-size: 20px;
    color: rgba(245, 245, 245, 0.19);
}